body {
  min-width: 280px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  background-image: url("/city-canvas-images/white-brick-fade-dk.webp");
  background-attachment: fixed;
  background-position: center;
}

/* Buttons and Navbar */
.btn {
  background: linear-gradient(#0eeaf8, #21cad6);
  border-style: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background: linear-gradient(#21cad6, #1dafb9);
  border: none;
  box-shadow: none;
}

.btn:focus-visible,
.btn:focus,
.btn-primary:focus-visible,
.btn-primary:active:focus,
.btn:active {
  background: linear-gradient(#21cad6, #1dafb9);
  border: none;
  box-shadow: 0 0 0 0.25rem #1dafb9;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:focus-visible,
.navbar-dark .navbar-nav .nav-link:active {
  color: #fff;
  font-weight: 500;
}

.navbar-brand.head-text:focus,
.navbar-brand.head-text:focus-visible,
.navbar-brand.head-text:active {
  font-weight: 700;
}

@media (hover: hover) {
  .btn:hover {
    background: linear-gradient(#21cad6, #1dafb9);
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: 500;
  }

  .navbar-brand.head-text:hover {
    font-weight: 700;
  }
}

/* Utilities and Cards */
.warning {
  color: #db2a0a;
}

.card {
  margin-bottom: 1.5rem;
  border: 1px solid #0eeaf8;
  filter: drop-shadow(2px 5px 2px #b9b8b89c);
}

/* Forms */
.form-label {
  padding-top: 1.25rem;
  color: #292929;
  font-weight: 700;
}

.form-control {
  border: 2px solid #0eeaf8;
}

.form-control:focus {
  border-color: #692584;
  box-shadow: none;
}

/* Tablet/Desktop/Responsive */
@media screen and (min-width: 376px) {
  .card {
    margin-bottom: 2.8rem;
  }
}
