body {
  min-width: 280px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #292929;
  background-image: url("/city-canvas-images/white_brick_fade_dk.webp");
  background-attachment: fixed;
  background-position: center;
}

/* Buttons and Navbar */
.btn {
  background-color: #0eeaf8;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.btn:hover {
  background-color: #21cad6;
}

.btn:focus,
.btn-primary:focus,
.btn-primary:active:focus,
.btn:active {
  background-color: #21cad6;
  border: none;
  box-shadow: 0 0 0 0.25rem rgb(33 202 214);
}

.btn:disabled {
  background-color: #21cad6;
  border: none;
  box-shadow: none;
}

.btn-primary.disabled {
  background-color: #21cad6;
  border: none;
  box-shadow: none;
}

.navbar-brand {
  font-size: 1.5rem;
  border: none;
  box-shadow: none;
}

.navbar-brand.head-text:focus {
  font-weight: bolder;
}

@media (hover: hover) {
  .btn:hover {
    background-color: #21cad6;
  }

  .navbar-brand.head-text:hover {
    font-weight: bolder;
  }
}

/* Utilities and Cards */
.warning {
  color: #f54f31;
}

.card {
  margin-bottom: 1.5rem;
  border: 1px solid #0eeaf8;
  filter: drop-shadow(2px 5px 2px #b9b8b89c);
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}

/* Forms */
.form-label {
  padding-top: 1.25rem;
  color: #292929;
  font-weight: 700;
}

.form-control {
  border: 2px solid #0eeaf8;
}

.form-control:focus {
  border-color: #692584;
  box-shadow: none;
}

/* Smartphone/Responsive */
@media screen and (min-width: 376px) {
  .card {
    margin-bottom: 2.8rem;
  }
}
