body {
  /* min-width: 320px; */
  min-width: 280px;
  margin: 0 auto;
}

.registration-cont {
  max-width: 800px;

  /* min-width: 300px;
  min-width: 280px; If increasing global min-width to 280px, keep. */
}

.login-cont {
  /* max-height: 400px; updated with sign-in form flex refactoring */
  min-height: 400px;
  min-width: 100%;
}

.login-form {
  max-width: 370px;
}

.login-heading-row {
  flex-basis: 100%;
  flex-grow: 1;
}

.login-form-row {
  flex-basis: 100%;
  flex-grow: 1;
}

.login-form-actions {
  flex-direction: column;
}

.reg-form-links {
  align-self: center;
  text-align: center;
}

.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.img-cont {
  height: 60px;
  width: 60px;
  padding: 0;
}

.card {
  margin-bottom: 1.5rem;
}

.feed-cont {
  max-width: 1200px;
}

.pin-cont {
  max-width: 1300px;
}

.art-info {
  padding: 0 1rem;
}

.form-map-cont {
  height: 320px;
  width: 100%;
}

.form-map {
  height: 100%;
}

.full-map-cont {
  height: 93vh;
}

.pin-map {
  height: 95%;
}

.pin-img-top {
  height: 85vh;
  object-fit: cover;
}

.btm-brdr {
  height: 5%;
}

@media (min-height: 380px) {
  .pin-img-top {
    max-height: 55vh;
  }
}

@media (min-height: 940px) {
  .full-map-cont {
    height: 95vh;
  }
}

@media (min-width: 365px) {
  .login-form-actions {
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: row;
  }

  .reg-form-links {
    align-self: unset;
    text-align: unset;
  }
}

@media (min-width: 376px) {
  .profile-pic {
    height: 79px;
    width: 79px;
  }

  .img-cont {
    height: 79px;
    width: 79px;
    padding: 0;
  }

  .card {
    margin-bottom: 2.8rem;
  }
}

.form-container {
  max-width: 550px;
}

.form-label {
  padding-top: 1.25rem;
}

.info-img-cont {
  height: 140px;
  width: 200px;
  padding: 0;
}

.info-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reg-form-col {
  max-width: 500px;
}

.mar-top-4r {
  margin-top: 4rem;
}

.mar-bottom-4r {
  margin-bottom: 4rem;
}

.absolute-right {
  position: absolute;
  right: 25px;
}

.ab-bottom-right {
  position: absolute;
  bottom: 30px;
  right: 25px;
}

.ab-bottom {
  position: absolute;
  bottom: 25px;
}
