body {
  min-width: 320px;
}

.img-cont {
  height: 60px;
  width: 60px;
  padding: 0;
}

.card {
  margin-bottom: 1.5rem;
}

.feed-cont {
  max-width: 1200px;
}

.pin-cont {
  max-width: 1300px;
}

.art-info {
  padding: 0 1rem;
}

.form-map {
  width: 305px;
  height: 320px;
}

.pin-map {
  width: 100vw;
  height: 88.5vh;
}

@media (min-width: 360px) {
  .form-map {
    width: 350px;
    height: 320px;
  }
}

@media (min-width: 376px) {
  .img-cont {
    height: 79px;
    width: 79px;
    padding: 0;
  }

  .card {
    margin-bottom: 2.8rem;
  }

  .form-map {
    width: 450px;
    height: 320px;
  }
}

@media (min-width: 450px) {
  .form-map {
    width: 450px;
    height: 320px;
  }
}

@media (min-width: 530px) {
  .form-map {
    width: 516px;
    height: 320px;
  }
}

@media (min-width: 766px) {
  .form-map {
    width: 550px;
    height: 320px;
  }
}

.form-container {
  max-width: 550px;
}

.form-label {
  padding-top: 1.25rem;
}

.info-img-cont {
  height: 140px;
  width: 200px;
  padding: 0;
}

.info-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btm-brdr {
  height: 3rem;
}
