body {
  min-width: 280px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #292929;
  background-image: url("white_brick_fade.png");
  background-attachment: fixed;
  background-position: center;
}

/* Buttons */
.btn {
  background-color: #0eeaf8;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.btn:hover {
  background-color: #21cad6;
}

/* Navbar */
.navbar-brand {
  font-size: 1.5rem;
}

/* Utilities and Cards */
.warning {
  color: #f54f31;
}

.card {
  margin-bottom: 1.5rem;
  border: 1px solid #0eeaf8;
  filter: drop-shadow(2px 5px 2px #b9b8b89c);
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}

/* Forms */
.form-label {
  padding-top: 1.25rem;
  color: #292929;
  font-weight: 700;
}

.form-control {
  border: 2px solid #0eeaf8;
}

.form-control:focus {
  border-color: #692584;
}

/* Smartphone/Responsive */
@media (min-width: 376px) {
  .card {
    margin-bottom: 2.8rem;
  }
}
