body {
  font-family: Montserrat, serif;
}

.nav-drop:hover {
  color: aqua;
  background-color: white;
  font-weight: bold;
}

.pri-color {
  background-color: #692584;
}

.head-text {
  font-family: "Rock Salt", cursive;
}
