body {
  font-family: Montserrat, sans-serif;
  color: #292929;
  background-image: url("white_brick_fade.png");
  background-attachment: fixed;
  background-position: center;
}

.pg-registration {
  background-image: url("./reg-bkg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 55%;
  display: flex;
}

.nf {
  font-weight: 700;
  font-size: 4rem;
}

.head-text {
  font-family: "Rock Salt", cursive;
}

.btn {
  background-color: #0eeaf8;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.btn:hover {
  background-color: #21cad6;
}

.nav-drop:hover {
  color: #0eeaf8;
  background-color: white;
  font-weight: bold;
}

.pri-bk-color {
  background-color: #692584;
}

.pri-color {
  color: #692584;
}

.sec-color {
  color: #0eeaf8;
}

.sec-bk-color {
  background-color: #0eeaf8;
}

.warning {
  color: #f54f31;
}

.warning-bk {
  background-color: #f54f31;
}

.menu {
  font-size: 1.5rem;
}

.card {
  border: 1px solid #0eeaf8;
  filter: drop-shadow(2px 5px 2px #b9b8b89c);
}

.map-link {
  font-size: 1.125rem;
  text-decoration: none;
}

.map-link:hover {
  color: #21cad6;
}

.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  border: 1.5px solid #0eeaf8;
  height: 60px;
  width: 60px;
}

.target {
  position: absolute;
  top: 0.65rem;
  right: 10%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 40px;
  z-index: 2;
  border-radius: 3px;
}

.full-pin-img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.report {
  font-size: 0.875rem;
}

@media (min-height: 400px) {
  .pg-registration {
    height: 100vh;
  }
}

@media (min-width: 576px) {
  .full-pin-img {
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
}

@media (min-width: 450px) {
  .not-saved:hover {
    color: #0eeaf8;
  }
}

@media (min-width: 376px) {
  .profile-pic {
    height: 79px;
    width: 79px;
  }

  .img-cont {
    height: 79px;
    width: 79px;
    padding: 0;
  }

  .target {
    position: absolute;
    top: 0.65rem;
    right: 8%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 40px;
    z-index: 2;
    border-radius: 3px;
  }

  .pin-pg {
    position: absolute;
    top: 0.65rem;
    right: 3rem;
  }

  .username {
    font-size: 1.125rem;
  }
}

@media (min-width: 325px) {
  .report {
    font-size: 1rem;
  }
}

.form-label {
  color: #292929;
  font-weight: 700;
}

.form-control {
  border: 2px solid #0eeaf8;
}

.form-control:focus {
  border-color: #692584;
}

.dir-link {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
}

.ab-bottom {
  position: absolute;
  bottom: 25px;
}

.ab-bottom:hover {
  color: #f54f31;
}

.ab-bottom-right {
  position: absolute;
  bottom: 30px;
  right: 25px;
}

.grey {
  color: #b6b6b6;
}

.absolute-right {
  position: absolute;
  right: 25px;
}

.del:hover,
.del:focus {
  background-color: #c7422b;
}

.cancel {
  background-color: #b6b6b6;
}

.cancel:hover {
  background-color: #797777;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover {
  color: #21cad6;
}
